.tips{
  padding:90px 6%;
   background:#071630;
}

.tips-heading span{
  color:#4b7eff;
  font-size:.8rem;
  letter-spacing:1px;
  font-weight:600;
}

.tips-heading h1{
  margin-top:20px;
  font-size:2.7rem;
  font-weight:800;
  line-height:1.2;
  max-width:700px;
}

.tips-heading h1 span{
  color:#4b7eff;
  font-style:italic;
   font-size:2.7rem;
}

.tips-grid{
  margin-top:60px;

  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.tip-card{
  background:linear-gradient(
    135deg,
    #0c1f3d,
    #08172f
  );

  border:1px solid rgba(255,255,255,.08);

  border-radius:24px;

  padding:22px;

  transition:.35s ease;

  min-height:220px;
}

.tip-card:hover{
  transform:translateY(-10px);

  box-shadow:
  0 20px 50px rgba(0,0,0,.35);
}

.card-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.card-top h2{
  font-size:2.2rem;
  color:#4b7eff;
}

.save-badge{
  background:rgba(75,126,255,.12);

  color:#69a2ff;

  font-size:.7rem;

  padding:8px 12px;

  border-radius:999px;
}

.tip-card h3{
  margin-top:10px;

  font-size:1.45rem;

  line-height:1.3;
}

.tip-card p{
  color:#b3bdd0;
  line-height:1.7;
  font-size:.95rem;
}

.tags{
  margin-top:25px;

  display:flex;

  flex-wrap:wrap;

  gap:10px;
}

.tags span{
  border:1px solid rgba(255,255,255,.18);

  padding:8px 14px;

  border-radius:999px;

  font-size:.72rem;

  color:#ffffff;
}

@media(max-width:1100px){

  .tips-grid{
    grid-template-columns:1fr 1fr;
     gap:20px;
  }

  .tips-heading h1{
    font-size:3rem;
  }
}

@media(max-width:768px){

  .tips-grid{
    grid-template-columns:1fr;
  }

  .tips-heading h1{
    font-size:2.5rem;
  }
}