*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,
body,
#root{
  background:#000814;
  min-height:100%;
}
html,
body{
  width:100%;
  scroll-behavior:smooth;
}

body{
  font-family:'Outfit',sans-serif;

  background:
  radial-gradient(
    circle at center,
    #051735 0%,
    #01091a 60%,
    #000814 100%
  );

  color:white;
}